body {
    background-color: black;
}
h1 {
    color:white;
}
@keyframes elizabeth {
    0% {left:0px}
    100% {left:90%}
  }
.elizabeth {
    position:absolute;
    animation: elizabeth 3s ease-in-out 0s infinite alternate;
}